<!--START CARD TABLE + BOTONES-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="onLoad()">
    <div class="card" style="height: 500px">
        <div class="header">
            <h4>Componentes</h4>
        </div>
        <div class="body">
            <div id="tableWrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <!--HEADER-->
                <div class="row">
                    <!--BOTONES ACCIONES-->
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <button class="btn" style="width: 100%;background-color: #000033;color: white"
                                    data-toggle="modal" data-target="#modalAddRegister">
                                Crear Nuevo Registro
                            </button>
                        </div>
                    </div>
                    <!--END BOTONES ACCIONES-->
                    <!--INPUT SEARCH-->
                    <div class="col-sm-6" >
                        <div id="filterTableDimensiones" class="dataTables_filter">
                            <input type="search" class="form-control input-sm" style="width: 100%;"
                                   placeholder="Buscar" id="input_search_rows">
                        </div>
                    </div>
                    <!--END INPUT SEARCH-->
                </div>
                <!--END HEADER-->
                <!--TABLA DIMENSIONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <table  class="table table-hover dataTable table-responsive" id="dataTableDimensiones" style="overflow: auto">
                            <thead>
                            <tr role="row">
                                <th>#</th>
                                <th>Componente</th>
                                <th>Dimensión asociado</th>
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" ng-repeat="item in lista_componentes | limitTo : 4">
                                <td>{{$index + 1}}</td>
                                <td>{{item.Componente}}</td>
                                <td>{{item.Dimension}}</td>
                                <td>
                                    <a  ng-click="openEditModal(item)" style="color: darkblue">EDITAR</a> |
                                    <a  ng-click="deleteData(item.ID_Componente)" style="color: red;">ELIMINAR</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--END TABLA DIMENSIONES-->
                <!--FOOTER-->
                <div class="row">
                    <div class="col-sm-5">
                        <p>Mostrado: <strong>{{cantidad_registros_mostrados}}</strong></p>
                    </div>
                    <div class="col-sm-7">
                        <button type="button" id="button_last_rows" ng-click="backData()" disabled class="btn btn-default">Anterior</button>
                        <button class="btn btn-default" id="button_next_rows" ng-click="nextData()">Siguiente</button>
                    </div>
                </div>
                <!--END FOOTER-->
            </div>
        </div>
    </div>
</div>
<!--END CARD TABLE + BOTONES-->

<!--START MODAL ADD COMPONENTE-->
<div class="container-fluid">
    <div class="modal fade" id="modalAddRegister" tabindex="-1" role="dialog" aria-labelledby="modalAddRegister" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Componente</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <label for="input_component_name">Ingrese el nombre del componente</label>
                                <input type="text" class="form-control" ng-model="new_item.Componente"
                                       id="input_component_name" placeholder="Nombre Componente" >
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <label  for="select_dimensiones_disponibles">Dimensiones Disponibles</label>
                                <select class="form-control" ng-model="new_item.Dimension"
                                       ng-change="update_ID_Dimension(new_item.Dimension)" id="select_dimensiones_disponibles">
                                    <option ng-repeat="item in lista_dimensiones">{{item.Dimension}}</option>
                                </select>
                                <p>Dimension Seleccionada: <strong>{{new_item.Dimension}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="insertData(new_item)" id="button_create_component">
                        Agregar Componente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL ADD COMPONENTE-->

<!--START MODAL EDIT COMPONENTE-->
<div class="container-fluid">
    <div class="modal fade" id="modalEditComponent" tabindex="-1" role="dialog" aria-labelledby="modalEditComponent" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Componente | {{component_selected_edit.Componente}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                <label for="input_edit_componente">Ingrese el nombre del componente</label>
                                <input type="text" class="form-control" ng-model="component_selected_edit.Componente"
                                       id="input_edit_componente" placeholder="Nombre Componente" >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="select_dimensiones_disponibles_edit">Dimensiones asociadas</label>
                                <select id="select_dimensiones_disponibles_edit" class="form-control"
                                        ng-model="component_selected_edit.Dimension" ng-change="update_ID_Dimension(component_selected_edit.Dimension)">
                                    <option ng-repeat="item in lista_dimensiones">{{item.Dimension}}</option>
                                </select>
                                <p>Dimension Asociada: <strong>{{component_selected_edit.Dimension}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  ng-click="editData(component_selected_edit)" id="button_edit_componente">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL EDIT COMPONENTE-->